<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ 'tabs.referral-help-title'| translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="help-image-column">
        <ion-img class="help-image" [src]="help.helpIcon"></ion-img>
      </ion-col>
      <ion-col>
        <p>{{ help.helpText }}</p>
        <p>
          <ion-icon class="help-call-icon" name="call"></ion-icon>
          {{ help.helpPhoneLabel }}:
          <a href="tel:{{ help.helpPhone }}" (click)="logClick('phone')">
            {{ help.helpPhone }}
          </a>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a
          href="{{ help.helpWhatsApp }}"
          *ngIf="help.helpWhatsApp"
          (click)="logClick('whatsapp')"
          target="_blank"
          rel="noopener"
        >
          <ion-img
            class="help-social-image help-whatsapp-image"
            src="assets/icons/whatsapp.png"
          ></ion-img>
        </a>
        <a
          href="{{ help.helpTwitter }}"
          *ngIf="help.helpTwitter"
          (click)="logClick('twitter')"
          target="_blank"
          rel="noopener"
        >
          <ion-img
            class="help-social-image help-twitter-image"
            src="assets/icons/twitter.svg"
          ></ion-img>
        </a>
        <a
          href="{{ help.helpFacebook }}"
          *ngIf="help.helpFacebook"
          (click)="logClick('facebook')"
          target="_blank"
          rel="noopener"
        >
          <ion-img
            class="help-social-image help-facebook-image"
            src="assets/icons/facebook.png"
          ></ion-img>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back" class="help-back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
