<section>
  <dialogue-turn
    *ngIf="currentProgram?.validation"
    [isSpoken]="currentProgram?.validation"
  >
    <p>
      <play-text-audio key="personal.handle-proof.creating" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.handle-proof.creating'|translate }}
    </p>
    <p *ngIf="hasNotificationNumberSet">
      <play-text-audio key="personal.handle-proof.notify" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.handle-proof.notify'|translate }}
    </p>
  </dialogue-turn>

  <dialogue-turn
    *ngIf="inclusionStatus"
    [isSpoken]="inclusionStatus"
  >
    <p 
      *ngIf="inclusionStatusNegative"
      [innerHTML]="'personal.handle-proof.inclusion-status-negative'|translate"
    >
      <play-text-audio key="personal.handle-proof.inclusion-status-negative" class="ion-float-start ion-margin-end"></play-text-audio>
    </p>
    <p 
      *ngIf="inclusionStatusPositive"
      [innerHTML]="'personal.handle-proof.inclusion-status-positive'|translate"
    >
      <play-text-audio key="personal.handle-proof.inclusion-status-positive" class="ion-float-start ion-margin-end"></play-text-audio>
    </p>
  </dialogue-turn>
</section>
