<section>
  <dialogue-turn>
    <p>
      <play-text-audio key="personal.enroll-in-program.introduction-information" class="ion-float-start ion-margin-end"></play-text-audio>
      <span [innerHTML]="'personal.enroll-in-program.introduction-information'|translate"></span>
    </p>

    <more-info-button
      *ngIf="instanceInformation?.dataPolicy"
      buttonKey="personal.enroll-in-program.more-info-questions"
      [message]="instanceInformation?.dataPolicy"
      headingKey="personal.enroll-in-program.more-info-questions"
    ></more-info-button>
  </dialogue-turn>

  <q-and-a-set [questions]="questions"
               [answers]="answers"
               [(isSubmitted)]="hasAnswered"
               [(isEditing)]="hasChangedAnswers"
               [allQuestionsShown]="allQuestionsShown"
               (submit)="submit($event)"
               submitLabel="shared.submit-button"
  ></q-and-a-set>

  <dialogue-turn *ngIf="hasAnswered"
                 [isSpoken]="hasAnswered"
  >
    <p>
      <play-text-audio key="personal.enroll-in-program.please-confirm" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.enroll-in-program.please-confirm'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="hasAnswered"
                 [isSpoken]="hasAnswered"
  >
    <ul>
      <li *ngFor="let question of questions">
        <span [innerHTML]="question.label"></span><br>
        <strong>{{ answers[question.code]?.label }}</strong>
      </li>
    </ul>

    <div class="ion-margin-top">
      <ion-radio-group (ionChange)="submitChoice = $event.detail.value">
        <ion-item
          color="light"
          lines="full"
          class="ion-no-padding"
        >
          <play-text-audio
            key="personal.enroll-in-program.submit-confirm"
            slot="start"
            class="ion-no-margin ion-margin-end"
          ></play-text-audio>
          <ion-label class="ion-text-wrap ion-padding-end">
            {{ 'personal.enroll-in-program.submit-confirm'|translate }}
          </ion-label>
          <ion-radio
            [value]="submitActions.confirm"
            [checked]="isDisabled"
            [disabled]="isDisabled"
          ></ion-radio>
        </ion-item>
        <ion-item
          color="light"
          class="ion-no-padding"
          lines="full"
        >
          <play-text-audio
            key="personal.enroll-in-program.change"
            slot="start"
            class="ion-no-margin ion-margin-end"
          ></play-text-audio>
          <ion-label class="ion-text-wrap ion-padding-end">
            {{ 'personal.enroll-in-program.change'|translate }}
          </ion-label>
          <ion-radio
            [value]="submitActions.change"
            [disabled]="isDisabled"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-row
        *ngIf="submitChoice && !isDisabled"
        class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button" size="default"></play-text-audio>
        <ion-button
          type="button"
          (click)="doSubmitAction()"
          [disabled]="isDisabled || !submitChoice"
          expand="block"
          style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </div>
  </dialogue-turn>
</section>
