<ion-header>
  <app-header 
    *ngIf="program?.validation"
    [title]="'page.program.phases.registrationValidation.label'|translate"
  ></app-header>
  <app-header 
    *ngIf="!program?.validation" 
    [title]="'page.program.phases.registrationValidation.label-no-validation'|translate">
  </app-header>
</ion-header>

<ion-content class="ion-padding">

  <app-phase-next
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="isReady"
  ></app-phase-next>

  <app-export-list 
    *ngIf="program?.validation"
    [programId]="programId" 
    [userRole]="userRole" 
    [exportType]="enumExportType.selectedForValidation"
  ></app-export-list>

  <app-program-people-affected
    [programId]="programId"
    [userRole]="userRole"
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
