// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// Limit the app-viewport to make it look like a 'mobile app'
@media (min-width: 500px) and (min-height: 800px) {
  body {
    background: #333;
  }
  ion-app {
    background: #fff;
    margin: auto auto;
    border-radius: 0.66em;

    // Limit to a readable line-width
    max-width: 500px;

    // The width/height ratio should at least look 'portait'
    min-height: 700px;
    max-height: 80vh;
  }
}

// ----------------------------------------------------------------------------
// Additional elements:
// ----------------------------------------------------------------------------

.loading-indicator {
  display: flex;
  min-height: 100px;
  justify-content: center;
}
.loading-indicator--spinner {
  margin: auto;
}

// Add enough spacing to content-area to always have something to scroll
.scroll-spacing {
  min-height: 30vh;
}

// Additional text-utility
.ion-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

// ----------------------------------------------------------------------------

// Add tap-hint icon to all primary submit-buttons
ion-button.button-block.button-solid:not([disabled]) {
  position: relative;

  --tap-icon-width: 20px;
  --tap-icon-height: calc(var(--tap-icon-width) * 1.333);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    width: var(--tap-icon-width);
    height: var(--tap-icon-height);
    transform: translateY(-50%);
    background: transparent center center no-repeat;
    background-size: 100% auto;
    background-image: url('/assets/icons/hand-tap-white.svg');
  }
}

// Override default styles to emphasize where to input
// Make an exception for 'native' inputs in 'items':
*:not(ion-item) > ion-input,
ion-textarea {
  --background: #dfe5fe !important;
}

// Reset to normal color:
password-toggle-input ion-input {
  --background: transparent !important;
}

// InfoPopup triggered by MoreInfoButtons shouldn't take up the full screen
ion-modal.more-info-popup {
  --max-width: 90vw;
  --max-height: 80vh;
}

// Make long text fit on buttons
// This is scoped to inside dialogue-turns ONLY, to limit the side-effects on other ion-button elements
dialogue-turn ion-button {
  // Get the same height as the fixed height:
  --padding-top: 0.786em;
  --padding-bottom: var(--padding-top); // Mirror the top value automatically
  height: auto !important;
  white-space: normal !important;

  // Adjust size for other button-types:
  &.button-has-icon-only {
    --padding-top: 0.643em;
  }
  &.button-small.button-has-icon-only,
  &.button-small {
    --padding-top: 0.35em;
  }
}

// Add generic margin to all paragraphs
dialogue-turn ion-card-content p {
  margin-bottom: var(--ion-margin, 16px) !important;
}

// Add top-border to sets of radio-buttons:
ion-radio-group ion-item:first-of-type:not(:last-of-type) {
  --border-width: 1px 0;
}
