<ion-item style="--inner-padding-end: 0;">
  <ion-label *ngIf="label" position="stacked">
    {{ label }}
  </ion-label>
  <div style="display: flex; width: 100%;"
       class="ion-align-items-center"
  >
    <ion-input #passwordInput
               [type]="inputType"
               [name]="name"
               [(ngModel)]="ngModel"
               ngDefaultControl
               [disabled]="disabled"
               [autocomplete]="autocomplete"
               [minlength]="minLength"
               required
               (ionChange)="onChange()"
               debounce="1000"
    ></ion-input>
    <ion-button type="button"
                fill="clear"
                size="small"
                (click)="toggleInputType()"
                [title]="isPassword() ? this.labelShow : this.labelHide"
                *ngIf="!disabled"
    >
      <ion-icon slot="icon-only"
                [name]="isPassword() ? 'eye' : 'eye-off'"
      ></ion-icon>
    </ion-button>
  </div>
</ion-item>
