<section>
  <h2>
    {{ 'page.programs-list.pageTitle'|translate }}
  </h2>
  <div *ngIf="!items"
       class="ion-text-center"
  >
    <ion-icon name="sad" size="large"></ion-icon><br>
    {{ 'page.programs-list.not-available'|translate }}
  </div>
  <ion-list *ngIf="items">
    <ion-item
      *ngFor="let program of items"
      detail="true"
      button="true"
      [routerLink]="['/program', program.id, 'dashboard']"
    >
      <ion-label>
        {{ program.title }}<br>
        <ion-note>
          {{ program.description }}
        </ion-note>
        <ion-note class="ion-float-end ion-padding-end">
          {{ program.updated|date:"dd-MM-y - H:m" }}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</section>
