<div class="dialogue-turn  ion-align-items-start"
     [ngClass]="{
       'is-connected': isConnected,
       'is-other ion-justify-content-start': !isSelf,
       'is-self ion-justify-content-end': isSelf,
       'is-pending': animate && !isSpoken,
       'is-spoken': animate && isSpoken
     }"
>
  <div class="dialogue-turn--actor">
    <ng-container [ngSwitch]="actor">
      <ng-container *ngSwitchCase="allActors.system">
        <ion-avatar style="border-radius: 0 !important;">
          <img src="./assets/logos/avatar--121.svg">
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="allActors.self">
        <ion-avatar style="background:#2f4bfd; display:flex;">
          <ion-icon name="person" color="light" size="large" style="margin:auto;"></ion-icon>
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="allActors.ngoDorcas">
        <ion-avatar>
          <img [alt]="actor" src="./assets/logos/dorcas.jpg">
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="allActors.ngoEagles">
        <ion-avatar>
          <img [alt]="actor" src="./assets/logos/eagles-relief.png">
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="allActors.ngoNLRC">
        <ion-avatar>
          <img [alt]="actor" src="./assets/logos/nlrc.jpg">
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="allActors.ngoKRCS">
        <ion-avatar>
          <img [alt]="actor" src="./assets/logos/krcs.jpg">
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ion-avatar style="color:black; background:white; display:flex;">
          <b style="margin:auto; text-align: center;">{{ actor }}</b>
        </ion-avatar>
      </ng-container>
    </ng-container>
  </div>
  <div class="dialogue-turn--content">
    <ion-card [color]="isSelf ? 'light' : 'dark'">
      <ion-card-content>

        <ng-content></ng-content>

        <ion-note class="ion-float-end ion-text-end"
                  [color]="isSelf ? '' : 'light'"
        >
          <small>{{ moment|date:"EEEE, d LLL" }} - <strong>{{ moment|date:"HH:mm" }}</strong></small>
        </ion-note>
      </ion-card-content>
    </ion-card>

    <span class="dialogue-turn--speech-arrow"></span>
  </div>
</div>
