<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ 'tabs.referral-title'| translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div *ngIf="!category">
      <category
        *ngFor="let _category of categories"
        [category]="_category"
        (click)="clickCategory(_category)"
      ></category>
    </div>
    <div *ngIf="category && !subCategory">
      <category
        [category]="category"
        [showDescription]="true"
        (click)="goBack()"
      ></category>
    </div>
    <div *ngIf="category && !subCategory">
      <sub-category
        *ngFor="let _subCategory of subCategories | categoryFilter: category"
        [subCategory]="_subCategory"
        [showRightDescription]="false"
        [showBottomDescription]="true"
        (click)="clickSubCategory(_subCategory)"
      ></sub-category>
    </div>
    <div *ngIf="category && subCategory">
      <sub-category
        [subCategory]="subCategory"
        [showRightDescription]="true && !offer"
        [showBottomDescription]="false"
        (click)="goBack()"
      ></sub-category>
    </div>
  </div>
  <div *ngIf="category && subCategory && !offer">
    <offer
      *ngFor="let _offer of offers | categoryFilter: category | subCategoryFilter: subCategory"
      [offer]="_offer"
      (click)="clickOffer(_offer)"
    ></offer>
  </div>
  <div *ngIf="category && subCategory && offer">
    <offer
      [offer]="offer"
      [showDetails]="true"
      [goBack]="goBack.bind(this)"
      (click)="clickOffer(offer)"
    ></offer>
  </div>
  <div
    *ngIf="categories?.length === 0 || subCategories?.length === 0 || offers?.length === 0"
  >
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-subtitle>Data Unavailable</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Please reach out to us via
        <a (click)="openHelpModal()">our help page</a>.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="category">
      <ion-back-button
        defaultHref="/tabs/referral"
        (click)="goBack()"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openHelpModal()">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
