<ion-header>
  <ion-toolbar>
    <ion-title>{{column}} {{'page.program.program-people-affected.failed' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" [attr.title]="'common.cancel'|translate">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    {{error}}
  </ion-item>
</ion-content>