<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="personal"
                    color="dark"
                    layout="label-hide"
                    [title]="'tabs.you'|translate"
    >
      <ion-icon name="chatboxes" size="large"></ion-icon>
      <ion-label>{{ 'tabs.you'|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1"
                    disabled
                    layout="label-hide"
                    [title]="'tabs.community'|translate"
    >
      <ion-icon name="people" size="large"></ion-icon>
      <ion-label>{{ 'tabs.community'|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"
                    disabled
                    layout="label-hide"
    >
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button [disabled]="!isLoggedIn"
                    (click)="openUserMenu($event)"
                    layout="label-hide"
                    [title]="'tabs.account'|translate"
    >
      <ion-icon name="person"
                size="large"
                class="tab-button-person-icon"
      ></ion-icon>
      <ion-label>{{ 'tabs.account'|translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
