.category {
  display: inline-block;
}

ion-card {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: #ffc001;
  cursor: pointer;

  ion-img {
    height: 45px;
    width: 45px;
    margin: auto;
    padding: 5%;
  }

  ion-card-title {
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

ion-card-content {
  position: absolute;
  top: 0;
  left: 100px;
  margin: 0 15px;
  height: 150px;
  overflow: auto;
}
