<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="referral" color="primary" layout="label-hide">
      <ion-icon name="person"></ion-icon>
      <ion-label></ion-label>
      <ion-label>{{ 'tabs.actions'|translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
